<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Georgette Party{% endblock %}</title>

  <link rel="icon" sizes="32x32" href="../favicon.ico"/>

  <link href="../css/markdown.css" rel="stylesheet" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes;" />
  <meta name="HandheldFriendly" content="true" />

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

  <meta name="description" content="La georgette party dont vous êtes le héros" />
  <meta name="keywords"    content="georgette, party, georges, maximum, bamboule" />
  <meta name="author"      content="Georges" />

</head>
<body>

<header>
  <h1>LA GEORGETTE PARTY<br /> DONT VOUS ÊTES LE HÉROS</h1>
</header>

<section role="content">
{% block content %}{% endblock %}
</section>

<footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1742688-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</footer>

</body>
</html>
